.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.MuiTableContainer-root {
  max-height: 440px;
}

.MuiPaper-root {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

.header {
  flex: 0 1 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  flex: 1 1 auto;
  width: 100%;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
